body {
    margin:0px;
    padding:0px;
}
.btns {
    text-align:center;
    
}

.prev {
    color:#1a73e8;
    font-family:sans-serif;
    border-radius:5px;
    right: 10px;
    margin:10px;
}
.next {
    color:#1a73e8;
    font-family:sans-serif;
    border-radius:5px;
    right: 10px;
    margin:10px;
}

.prev span {
    font-size:18px;
}

.next span {
    font-size:18px;
}

.prev:hover {
    background-color: aliceblue;
    border:solid aliceblue;

}

.next:hover {
    
    background-color: aliceblue;
    border:solid aliceblue;

}