{% extends 'pl/layout.html' %}

{% block body %}
    {% for available in total_available %}
        <h2>Total Available: {{ available.sit_available }} </h2>
        <div class="hardcore" id="vip">
        <h2>VIP sits: {{ available.vip }} Cost: ₹{{ vip_price }}</h2></div>
        <div class="hardcore" id="normal">
        <h2>Normal sits: {{ available.normal }} Cost: ₹{{ normal_price }}</h2></div>
    {% endfor %}
    {% if messages %}
        {% for m in messages %}
            <p style="
            color:red;
            text-align:center;
            font-family:sans-serif;">
            {{ m }}
        </p>
        {% endfor %}
    {% endif %}
    {% if form %}
    {% if messages %}
        {% for m in messages %}
            <p style="
            color:green;
            text-align:center;
            font-family:sans-serif;">
            {{ m }}
        </p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="hardcore" id="vip">
        <lable>{{ form.vip.label }}</lable>
        {{ form.vip }}</div>
        <div class="hardcore" id="normal">
        <lable>{{ form.normal.label }}</lable>
        {{ form.normal }}</div>
        <input type="submit" value="Purchase">
    </form>
    {% endif %}

{% endblock %}