{% extends 'pl/layout.html' %}

{% block body %}
    {% for available in total_available %}
        <h2>Total Available: {{ available.sit_available }} </h2>
        <h2>VIP sits: {{ available.vip }} </h2>
        <h2>Normal sits: {{ available.normal }} </h2>
    {% endfor %}
    {% if messages %}
        {% for m in messages %}
            <p style="
            color:red;
            text-align:center;
            font-family:sans-serif;">
            {{ m }}
        </p>
        {% endfor %}
    {% endif %}
    {% if form %}
    {% if messages %}
        {% for m in messages %}
            <p style="
            color:green;
            text-align:center;
            font-family:sans-serif;">
            {{ m }}
        </p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <lable>Book Vip</lable>
        {{ form.vip }}
        <lable>Book Normal</lable>
        {{ form.normal }}
        <input type="submit">
    </form>
    {% endif %}
{% endblock %}