{% extends 'pl/layout.html' %}
{% load static %}


{% block title %}
    Fam's
{% endblock %}

{% block body %}
<h1 class="greet-fam">
    {{ greetings }} {{ request.user.username }}
</h1>

<section class="section-block">
        <div class="section-heading">
            <p>Featured</p>
            <h2>Today’s Fan’s Highlights</h2>
        </div>
        <div class="feature-grid">
        {% for fam in fams %}
        


            <div class="feature-card">
                <img src="{{ fam.fan_image.url }}">
                <div>
                    <h3>{{ fam.title }}</h3>
                    <p>{{ fam.descriptions }}</p>
                </div>
            </div>
        {% empty %}

            <h2>Be The First Person To Start The Day</h2>
        
        {% endfor %}
        </div>
    </section>

    <section class="Disclaimer">
        <div>
            <p style="color:red; font-size:20px;">
                ⚠️ Disclaimer: Uploads must not contain sexual images, titles, or descriptions. 
                Violations will lead to removal and possible ban.
            </p>
        </div>
    </section>

    <section class="section-form">
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <lable>Email</lable><br>
                {{ form.email }}<br>
                <lable>Title</lable><br>
                {{ form.title }}<br>
                <lable>Image<small> png, jpg types allowed</small></lable><br>
                {{ form.fan_image }}<br>
                <lable>Description</lable><br>
                {{ form.descriptions }}<br>
                <input type="submit" value="Upload">
            </form> 
        </div>
    </section>

{% endblock %}