{% extends 'pl/layout.html' %}
{% load static %}
{% block body %}
    <div class="slider">
        <div class="slides" id="img-cont">
            <img class="slide" id="img-el" src="{% static 'pl/img/cmp1.avif' %}">
            <img class="slide" id="img-el" src="{% static 'pl/img/ent.avif' %}">
            <img class="slide" id="img-el" src="{% static 'pl/img/vk.avif' %}">
            <img class="slide" id="img-el" src="{% static 'pl/img/vk2.avif' %}">
        </div>
        <button id="prev">&#10094</button>
        <button id="next">&#10095</button>
    </div>
    <section>
        <div>
            
        </div>
    </section>
    
    <h1>welcome</h1>
    
{% endblock %}