{% load static %}

{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                Home
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'pl/index.css' %}">
        <link rel="stylesheet" href="{% static 'pl/layout.css' %}">
        <link rel="stylesheet" href="{% static 'pl/img_slide.css' %}">
        <link rel="stylesheet" href="{% static 'pl/main_float.css' %}">
        <link rel="stylesheet" href="{% static 'pl/water_drop_card.css' %}">
        <link rel="stylesheet" href="{% static 'pl/book.css' %}">
        <link rel="stylesheet" href="{% static 'pl/home.css' %}">
        <link rel="stylesheet" href="{% static 'pl/footer.css' %}">
        <link rel="stylesheet" href="{% static 'pl/blog.css' %}">
        <link rel="stylesheet" href="{% static 'pl/fam.css' %}">
    </head>
    <body>
        <div class="layout">
        <aside class="sidebar">
            <div class="sidebar-logo"> IPL</div>
            <nav class="sidebar-nav">
            <a href="{% url 'home' %}" class="nav-item" id="nav-home">Home</a>
            <a href="{% url 'team_view' %}" class="nav-item " id="nav-teams">Teams</a>
            <a href="{% url 'match_view' %}" class="nav-item " id="nav-matches">Matches</a>
            <a href="{% url 'venue_view' %}" class="nav-item " id="nav-venue">Venues</a>
            {% if request.user %}
                <a href="{% url 'book' %}" class="nav-item" id="nav-book">Book</a>
            {% else %}
            <a href="#" ></a>
            {% endif %}
            <a href="{% url 'createAccount' %}" class="nav-item" id="nav-create_a_c">Create account</a>
            <a href="{% url 'blog' %}" class="nav-item" id="nav-champs">Blog</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-item">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-item">Log in</a>
            {% endif %}
            <a href="{% url 'fam' %}" class="nav-item" id="nav-fam">Fam's</a>

            </nav>
        </aside>
        <div class="main">
            <div class="topbar">
            <span class="badge badge-gold">IPL 2026</span>
            </div>
            <div class="content">
            {% block body %}
            {% endblock %}
            </div>
        </div>
        </div>
        <script type="module" src="{% static 'pl/script/main.js' %}"></script>
    </body>
    <hr>
    <footer>
        <div class="credits">
            <span>Built and designed by <a href="https://www.instagram.com/debazj" target="_blank" >deba</a> </span><br>
        </div>
    </footer>
</html>