{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet" href="{% static 'pl/index.css' %}">
        <link rel="stylesheet" href="{% static 'pl/layout.css' %}">
        <link rel="stylesheet" href="{% static 'pl/img_slide.css' %}">
        <link rel="stylesheet" href="{% static 'pl/main_float.css' %}">
        <link rel="stylesheet" href="{% static 'pl/water_drop_card.css' %}">
        <link rel="stylesheet" href="{% static 'pl/book.css' %}">
    </head>
    <body>
        <div class="layout">
        <aside class="sidebar">
            <div class="sidebar-logo"> IPL</div>
            <nav class="sidebar-nav">
            <a href="{% url 'home' %}" class="nav-item" id="nav-home">Home</a>
            <a href="{% url 'team_view' %}" class="nav-item " id="nav-teams">Teams</a>
            <a href="{% url 'match_view' %}" class="nav-item " id="nav-matches">Matches</a>
            <a href="{% url 'venue_view' %}" class="nav-item " id="nav-venue">Venues</a>
            <a href="{% url 'book' user.id %}" class="nav-item" id="nav-book">Book</a>
            <a href="{% url 'createAccount' %}" class="nav-item" id="nav-create_a_c">Create account</a>
            </nav>
        </aside>
        <div class="main">
            <div class="topbar">
            <span class="badge badge-gold">IPL 2026</span>
            </div>
            <div class="content">
            {% block body %}
            {% endblock %}
            </div>
        </div>
        </div>
        <script type="module" src="{% static 'pl/script/main.js' %}"></script>
    </body>
    <footer>
        <div>
            <p>Thanks</p>
        </div>
    </footer>
</html>